# act-build-linux.yml
name: act- Linux

env:
   TAG_NAME:      "btop"
   TAG_NAME_G:    "btopg"
   TAG_VERSION:   "v1.1.0"
   TAG_BUILD:     "-b"
   TAG_REF:       "0000000"
   TAG_SHA:       "0000000"
   PROG_NAME:     "btop"
   PROG_NAME_G:   "btopg"
   PROG_VERSION:  "v1.1.0"
   VERSION:       "1.1.0"
   DRAFT:         true
   INFO_FILE:     "_info_.txt"
   PREFIX:        "/usr/local"

on:
  workflow_dispatch:
    inputs:
      # if: ${{ inputs.ZIP_ALL }}
      upload_artifacts:
        description: upload artifacts
        type: boolean
        required: true
        default: false
      GPU_version:
        description: GPU version
        type: boolean
        required: true
        default: false
      ZIP_ALL:
        description: ZIP ALL
        type: boolean
        required: true
        default: false

#  push:
#    branches:
#      - main
#    tags-ignore:
#      - '*.*'
#    paths:
#      - 'src/**'
#      - '!src/osx/**'
#      - '!src/freebsd/**'
#      - '!src/netbsd/**'
#      - '!src/openbsd/**'
#      - 'include/**'
#      - 'Makefile'
#      - '.github/workflows/continuous-build-linux.yml'
#  pull_request:
#    branches:
#      - main
#    paths:
#      - 'src/**'
#      - '!src/osx/**'
#      - '!src/freebsd/**'
#      - '!src/netbsd/**'
#      - '!src/openbsd/**'
#      - 'include/**'
#      - 'Makefile'
#      - '.github/workflows/continuous-build-linux.yml'

jobs:
  static-build:
    continue-on-error: true
    strategy:
      matrix:
        toolchain:
          - aarch64-unknown-linux-musl
#          - arm-unknown-linux-musleabi
#          - arm-unknown-linux-musleabihf
          - armv7-unknown-linux-musleabi
#          - armv7-unknown-linux-musleabihf
#          - i586-unknown-linux-musl
#          - i686-unknown-linux-musl
#          - m68k-unknown-linux-musl
#          - mips-unknown-linux-musl
#          - mips-unknown-linux-muslsf
#          - mips64-unknown-linux-musl
#          - mips64el-unknown-linux-musl
#          - mipsel-unknown-linux-musl
#          - mipsel-unknown-linux-muslsf
#          - powerpc-unknown-linux-musl
#          - powerpc64-unknown-linux-musl
#          - powerpc64le-unknown-linux-musl
#          - powerpcle-unknown-linux-musl
#          - riscv32-unknown-linux-musl
#          - riscv64-unknown-linux-musl
#          - s390x-ibm-linux-musl
          - x86_64-unknown-linux-musl
# was
#          - aarch64-linux-musl
#          - aarch64_be-linux-musl
#          - arm-linux-musleabi
#          - arm-linux-musleabihf
#          - armeb-linux-musleabi
#          - armeb-linux-musleabihf
#          - armel-linux-musleabi
#          - armel-linux-musleabihf
#          - armv5l-linux-musleabi
#          - armv5l-linux-musleabihf
#          - armv6-linux-musleabi
#          - armv6-linux-musleabihf
#          - armv7l-linux-musleabihf
#          - armv7m-linux-musleabi
#          - armv7r-linux-musleabihf
#          - i486-linux-musl
#          - i686-linux-musl
#          - m68k-linux-musl
#          - mips-linux-musl
#          - mips-linux-musln32sf
#          - mips-linux-muslsf
#          - mips64-linux-musl
#          - mips64-linux-musln32
#          - mips64-linux-musln32sf
#          - mips64el-linux-musl
#          - mips64el-linux-musln32
#          - mips64el-linux-musln32sf
#          - mipsel-linux-musl
#          - mipsel-linux-musln32
#          - mipsel-linux-musln32sf
#          - mipsel-linux-muslsf
#          - powerpc-linux-musl
#          - powerpc-linux-muslsf
#          - powerpc64-linux-musl
#          - powerpc64le-linux-musl
#          - powerpcle-linux-musl
#          - powerpcle-linux-muslsf
#          - riscv32-linux-musl
#          - riscv64-linux-musl
#          - s390x-linux-musl
#          - x86_64-linux-musl
#          - x86_64-linux-muslx32
    # - or1k-linux-musl
    # - sh2-linux-musl
    # - sh2-linux-muslfdpic
    # - sh2eb-linux-musl
    # - sh2eb-linux-muslfdpic
    # - sh4-linux-musl
    # - sh4eb-linux-musl

    runs-on: ubuntu-24.04

    steps:
      - name: Install build tools
        run: |
          sudo apt update  -y || true;
          sudo apt install -y gcc g++ make linux-headers || true;
          sudo apt install -y coreutils git make tar zstd bash zip findutils || true;
          sudo apt install -y lowdown || true;
          cat /etc/shells || true;

      - name: Checkout source
        uses: deep-soft/checkout@v6
        with:
          submodules: recursive

      - name: set program version variable
        shell: bash
        run: |
          _version_=$(grep "const string Version"  ./src/btop.cpp | awk -F "=" '{print $2}' | tr -d '"' | tr -d ';' | tr -d ' ')
          echo "PROG_VERSION=v$_version_" >> $GITHUB_ENV

      - name: print program version
        shell: bash
        run: |
          echo "PROG_VERSION=${{ env.PROG_VERSION }}"

      - name: get SHA and version
        shell: bash
        run: |
          _sha_=$(git log -1 --format='%H')
          _date_=$(date +%Y%m%d_%H%M)
          echo "TAG_DATE=$_date_" >> $GITHUB_ENV

          _ref_org_=${{ env.TAG_REF }}
          _ref_len_="${#_ref_org_}"
          _sha_short_=$(echo ${_sha_::$_ref_len_})

          echo "TAG_REF=$_sha_short_" >> $GITHUB_ENV
          echo "TAG_SHA=$_sha_short_" >> $GITHUB_ENV

          _version_=$(grep "const string Version" ./src/btop.cpp | awk -F "=" '{print $2}' | tr -d '"' | tr -d ';' | tr -d ' ')
          echo "VERSION=$_version_" >> $GITHUB_ENV
          echo "PROG_VERSION=v$_version_" >> $GITHUB_ENV
          echo "TAG_VERSION=v$_version_" >> $GITHUB_ENV
          _build_=${{ env.TAG_BUILD }}-$_date_-$_sha_short_

          echo "TAG_BUILD=$_build_" >> $GITHUB_ENV
          echo "WORK_DIR=$(pwd)" >> $GITHUB_ENV
          echo "TAG_DATE=$_date_" >> $GITHUB_ENV

      - name: set INFO_FILE name
        shell: bash
        run: |
          INSTALL_FOLDER=${{ env.PROG_NAME }}-${{ env.PROG_VERSION }}-${{ env.TAG_BUILD }}-${{ matrix.toolchain }};
          echo "INSTALL_FOLDER=$INSTALL_FOLDER" >> $GITHUB_ENV
          echo "INFO_FILE=$INSTALL_FOLDER.txt" >> $GITHUB_ENV

      - name: write info to file ${{ env.INFO_FILE }}
        shell: bash
        run: |
          echo "TAG_NAME:     " ${{ env.TAG_NAME     }} >> ${{ env.INFO_FILE }}
          echo "TAG_VERSION:  " ${{ env.TAG_VERSION  }} >> ${{ env.INFO_FILE }}
          echo "TAG_BUILD:    " ${{ env.TAG_BUILD    }} >> ${{ env.INFO_FILE }}
          echo "TAG_REF:      " ${{ env.TAG_REF      }} >> ${{ env.INFO_FILE }}
          echo "TAG_SHA:      " ${{ env.TAG_SHA      }} >> ${{ env.INFO_FILE }}
          echo "PROG_NAME:    " ${{ env.PROG_NAME    }} >> ${{ env.INFO_FILE }}
          echo "PROG_VERSION: " ${{ env.PROG_VERSION }} >> ${{ env.INFO_FILE }}

      - name: Install cross toolchain
        run: |
          wget -q -P /tmp https://github.com/cross-tools/musl-cross/releases/download/20250929/${{ matrix.toolchain }}.tar.xz
          wget -q -P /tmp https://github.com/cross-tools/musl-cross/releases/download/20250929/${{ matrix.toolchain }}.tar.xz.sha256
          echo "$(cat /tmp/${{ matrix.toolchain }}.tar.xz.sha256) /tmp/${{ matrix.toolchain }}.tar.xz" | sha256sum --check --status
          mkdir -p /opt/x-tools/
          tar -xf /tmp/${{ matrix.toolchain }}.tar.xz -C /opt/x-tools

      - name: Build
        run: 
          CXX=/opt/x-tools/${{ matrix.toolchain }}/bin/${{ matrix.toolchain }}-g++ make STATIC=true STRIP=true

      - name: Make executable
        shell: bash
        run: |
          chmod +x bin/*

      - name: Set up directories
        shell: bash
        run: |
          mkdir -p .artifacts
          mkdir -p .package

      - name: Create binary artifacts
        shell: bash
        run: |
          TOOLCHAIN=${{ matrix.toolchain }}
          GIT_HASH=$(git rev-parse --short "${{ github.sha }}")
          FILENAME=${{ env.PROG_NAME }}-${TOOLCHAIN/linux-musl/}-$GIT_HASH
          cp bin/${{ env.PROG_NAME }} .artifacts/$FILENAME

      - name: Upload artifacts
        if: ${{ inputs.upload_artifacts }}
        uses: deep-soft/upload-artifact@v4
        with:
          name: ${{ env.PROG_NAME }}-${{ matrix.toolchain }}
          path: '.artifacts/**'

      - name: make install
        continue-on-error: true
        shell: bash
        run: |
          mkdir -p ${{ env.INSTALL_FOLDER }} || true;
          make prefix=${{ env.PREFIX }} DESTDIR=${{ env.INSTALL_FOLDER }} install;
          cp ${{ env.INFO_FILE }} ${{ env.INSTALL_FOLDER }}${{ env.PREFIX }}/bin/${{ env.PROG_NAME }}.txt

      - name: Archive - ZIP_ARC
        uses: deep-soft/zip-release@v2.1
        with:
          type: 'zip'
          filename: '${{ github.workspace }}/${{ env.PROG_NAME }}-${{ env.PROG_VERSION }}-${{ env.TAG_BUILD }}-${{ matrix.toolchain }}'
          directory: ${{ env.INSTALL_FOLDER }}
          path: '.'
          env_variable: ZIP_ARC
          # archive name is ${{ env.ZIP_RELEASE_ARCHIVE }}

      - name: Publish - ZIP_ARC
        continue-on-error: true
        uses: deep-soft/action-gh-release@v2.1
        with:
          draft: ${{ env.DRAFT }}
          tag_name: ${{ env.PROG_NAME }}-${{ env.PROG_VERSION }}
          files: |
            ${{ env.ZIP_ARC }}
            ${{ env.INFO_FILE }}

# Archive - ZIP_ALL begin
      - name: Archive - ZIP_ALL
        if: ${{ inputs.ZIP_ALL }}
        uses: deep-soft/zip-release@v2.1
        with:
          type: 'zip'
          filename: '${{ env.PROG_NAME }}-${{ env.PROG_VERSION }}-${{ env.TAG_BUILD }}-${{ matrix.toolchain }}-ALL'
          directory: ${{ github.workspace }}
          path: '.'
          env_variable: ZIP_ALL
          # archive name is ${{ env.ZIP_RELEASE_ARCHIVE }}

      - name: Publish - ZIP_ALL
        if: ${{ inputs.ZIP_ALL }}
        continue-on-error: true
        uses: deep-soft/action-gh-release@v2.1
        with:
          draft: ${{ env.DRAFT }}
          tag_name: ${{ env.PROG_NAME }}-${{ env.PROG_VERSION }}-ALL
          files: |
            ${{ env.ZIP_ALL }}
            ${{ env.INFO_FILE }}
# Archive - ZIP_ALL end

# GPU_version begin
      - name: set INFO_FILE name
        if: ${{ inputs.GPU_version }}
        shell: bash
        run: |
          INSTALL_FOLDER=${{ env.PROG_NAME_G }}-${{ env.PROG_VERSION }}-${{ env.TAG_BUILD }}-${{ matrix.toolchain }};
          echo "INSTALL_FOLDER=$INSTALL_FOLDER" >> $GITHUB_ENV
          echo "INFO_FILE=$INSTALL_FOLDER.txt" >> $GITHUB_ENV

      - name: write info to file ${{ env.INFO_FILE }}
        if: ${{ inputs.GPU_version }}
        shell: bash
        run: |
          echo "TAG_NAME:     " ${{ env.TAG_NAME     }} >> ${{ env.INFO_FILE }}
          echo "TAG_VERSION:  " ${{ env.TAG_VERSION  }} >> ${{ env.INFO_FILE }}
          echo "TAG_BUILD:    " ${{ env.TAG_BUILD    }} >> ${{ env.INFO_FILE }}
          echo "TAG_REF:      " ${{ env.TAG_REF      }} >> ${{ env.INFO_FILE }}
          echo "TAG_SHA:      " ${{ env.TAG_SHA      }} >> ${{ env.INFO_FILE }}
          echo "PROG_NAME:    " ${{ env.PROG_NAME_G  }} >> ${{ env.INFO_FILE }}
          echo "PROG_VERSION: " ${{ env.PROG_VERSION }} >> ${{ env.INFO_FILE }}

      - name: Clean before GPU version
        if: ${{ inputs.GPU_version }}
        shell: bash
        run: |
          rm -R bin || true;
          rm -R obj || true;

      - name: Build
        if: ${{ inputs.GPU_version }}
        id: build_gpu_one
        continue-on-error: true
        shell: bash
        run: |
          CXX=/opt/x-tools/${{ matrix.toolchain }}/bin/${{ matrix.toolchain }}-g++ make STATIC=true STRIP=true GPU_SUPPORT=true

#      - name: try build_gpu_two if build_gpu_one failed
#        if: ${{ (github.event.inputs.GPU_version == 'true') || (matrix.steps.build_gpu_one.conclusion == 'failure') }}
#        id: build_gpu_two
#        shell: bash
#        run: |
#          make CXX=g++ STRIP=true GPU_SUPPORT=true

#      - name: try build_gpu_three if build_gpu_two failed
#        if: ${{ (github.event.inputs.GPU_version == 'true') || (matrix.steps.build_gpu_two.conclusion == 'failure') }}
#        id: build_gpu_three
#        shell: bash
#        run: |
#          make CXX=g++ GPU_SUPPORT=true

      - name: Make executable
        if: ${{ inputs.GPU_version }}
        shell: bash
        run: |
          chmod +x bin/*

      - name: Set up directories
        if: ${{ inputs.GPU_version }}
        shell: bash
        run: |
          mkdir -p .artifacts
          mkdir -p .package

      - name: Create binary atrifacts
        if: ${{ inputs.GPU_version }}
        shell: bash
        run: |
          TOOLCHAIN=${{ matrix.toolchain }}
          GIT_HASH=$(git rev-parse --short "${{ github.sha }}")
          FILENAME=${{ env.PROG_NAME_G }}-${TOOLCHAIN/linux-musl/}-$GIT_HASH
          cp bin/${{ env.PROG_NAME }} .artifacts/$FILENAME

      - name: Upload artifacts
        if: ${{ (github.event.inputs.GPU_version == 'true') || ( github.event.inputs.upload_artifacts == 'true') }}
        uses: deep-soft/upload-artifact@v4
        with:
          name: ${{ env.PROG_NAME_G }}-${{ matrix.toolchain }}
          path: '.artifacts/**'

      - name: make install
        if: ${{ inputs.GPU_version }}
        continue-on-error: true
        shell: bash
        run: |
          mkdir -p ${{ env.INSTALL_FOLDER }} || true;
          make prefix=${{ env.PREFIX }} DESTDIR=${{ env.INSTALL_FOLDER }} install;
          cp ${{ env.INFO_FILE }} ${{ env.INSTALL_FOLDER }}${{ env.PREFIX }}/bin/${{ env.PROG_NAME }}.txt

      - name: Archive - ZIP_ARC
        if: ${{ inputs.GPU_version }}
        uses: deep-soft/zip-release@v2.1
        with:
          type: 'zip'
          filename: '${{ github.workspace }}/${{ env.PROG_NAME_G }}-${{ env.PROG_VERSION }}-${{ env.TAG_BUILD }}-${{ matrix.toolchain }}'
          directory: ${{ env.INSTALL_FOLDER }}
          path: '.'
          env_variable: ZIP_ARC
          # archive name is ${{ env.ZIP_RELEASE_ARCHIVE }}

      - name: Publish - ZIP_ARC
        if: ${{ inputs.GPU_version }}
        continue-on-error: true
        uses: deep-soft/action-gh-release@v2.1
        with:
          draft: ${{ env.DRAFT }}
          tag_name: ${{ env.PROG_NAME_G }}-${{ env.PROG_VERSION }}
          files: |
            ${{ env.ZIP_ARC }}
            ${{ env.INFO_FILE }}
# GPU_version end

# Archive - ZIP_ALL begin
      - name: Archive - ZIP_ALL
        if: ${{ (github.event.inputs.GPU_version == 'true') || ( github.event.inputs.ZIP_ALL == 'true') }}
        uses: deep-soft/zip-release@v2.1
        with:
          type: 'zip'
          filename: '${{ env.PROG_NAME_G }}-${{ env.PROG_VERSION }}-${{ env.TAG_BUILD }}-${{ matrix.toolchain }}-ALL'
          directory: ${{ github.workspace }}
          path: '.'
          env_variable: ZIP_ALL
          # archive name is ${{ env.ZIP_RELEASE_ARCHIVE }}

      - name: Publish - ZIP_ALL
        if: ${{ (github.event.inputs.GPU_version == 'true') || ( github.event.inputs.ZIP_ALL == 'true') }}
        continue-on-error: true
        uses: deep-soft/action-gh-release@v2.1
        with:
          draft: ${{ env.DRAFT }}
          tag_name: ${{ env.PROG_NAME_G }}-${{ env.PROG_VERSION }}-ALL
          files: |
            ${{ env.ZIP_ALL }}
            ${{ env.INFO_FILE }}
# Archive - ZIP_ALL end
